/* Base styles */
html,body {
  min-height: 100%;
}

body {
  min-width: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
    max-width: 15rem;
    background: #007bff;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    /* Icons in buttons */
    i {
      margin-right: 0.25rem;
      color: darkgoldenrod;
    }
  }

  .remove-btn {
    background-color: red;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    margin: 0.2rem;
  }

/* Light mode */
body.light-mode {
  color: #000000;
  button {
    max-width: 2rem;
    background-color: #007bff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    /* Icons in buttons */
    i {
      margin-right: 0.25rem;
      color: darkgoldenrod;
    }
  }
  .remove-btn {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
  }
}

/* Dark mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
  button {
    background-color: #333333;
    color: #ffffff;
  }
}

/* Dashboard container */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  padding: 1rem;
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
}

button {
  background-color: black;
  color: darkgoldenrod;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  /* Icons in buttons */
  i {
    margin-right: 0.25rem;
    color: darkgoldenrod;
  }
}

/* Main content */
.main {
  flex: 1;
  display: flex;
  padding: 1rem;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Sidebar */
.sidebar {
  width: 250px;
  padding: 1rem;
  transition: background-color 0.3s;
}

body.dark-mode .sidebar {
  background-color: #1e1e1e;
}

/* Content area */
.content {
  display: flex;
  flex: 1;
  padding: 1rem;
  transition: background-color 0.3s;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  transition: background-color 0.3s;
}

body.dark-mode .content {
  background-color: #1e1e1e;
}

/* Footer */
.footer {
  padding: 1rem;
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
}
